[MASTER]
# Ignora a pasta de migrações
ignore=migrations

[MESSAGES CONTROL]
# C0114: Faltou docstring no módulo (ok cobrar, mas vamos manter ligado)
# C0115: Faltou docstring na classe (ok cobrar)
# R0901: Too many ancestors (Ignorar, pois é padrão do Django)
# W0611: Unused import (Vamos corrigir na mão)
disable=R0901